<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated MAndroid -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="mandroid.presentation.MandroidModelWizardID"
            name="%_UI_MandroidModelWizard_label"
            class="mandroid.presentation.MandroidModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MandroidModelFile.gif">
         <description>%_UI_MandroidModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated MAndroid -->
      <editor
            id="mandroid.presentation.MandroidEditorID"
            name="%_UI_MandroidEditor_label"
            icon="icons/full/obj16/MandroidModelFile.gif"
            extensions="mandroid"
            class="mandroid.presentation.MandroidEditor"
            contributorClass="mandroid.presentation.MandroidActionBarContributor">
      </editor>
   </extension>

</plugin>
