<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Android -->
      <package
            uri="Android"
            class="Android.AndroidPackage"
            genModel="src/Android.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MAndroid -->
      <package
            uri="http://mandroid/1.0"
            class="mandroid.MandroidPackage"
            genModel="model/MAndroid.genmodel"/>
   </extension>

</plugin>
